@layer demo {
	.container__compare {
		display: grid;
		width: 100vw;
		height: 100vh;

		> * {
			grid-area: 1 / 1;
		}

		> section {
			display: grid;
			place-content: center;

			> img {
				height: 80vh;
				width: auto;
				object-fit: cover;
			}
		}

		.before {
			mask: linear-gradient(to right, #000 0, var(--pos, 50%), #0000 0);
		}

		.after {
			mask: linear-gradient(to right, #0000 0, var(--pos, 50%), #000 0);
		}

		/* Resize range styles. */
		.range {
			z-index: 1;
			appearance: none;
			background: none;
			cursor: col-resize;
			height: 100vh;
			-webkit-tap-highlight-color: transparent;

			&::-webkit-slider-thumb {
				appearance: none;
				width: 4px;
				height: 100vh;
				background-color: CanvasText;
			}

			&::-moz-range-thumb {
				appearance: none;
				width: 4px;
				height: 100vh;
				background-color: CanvasText;
			}
		}
	}
}

@layer demo.support {
	* {
		box-sizing: border-box;
		margin: 0;
	}

	html {
		block-size: 100%;
		color-scheme: dark light;
	}

	body {
		min-block-size: 100%;
		font-family: system-ui, sans-serif;
		display: grid;
	}
}

/* background-attachament:fixed */
